@media (min-width: 768px) and (max-width: 1024px) {
    .nav {
        display: block;
        div {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        a {
            margin: -10px;
        }
    }

    .video video {
        width: 40%;
    }
   
    main h1 {
        font-size: map-get($font-size, xl );
    }
}