$bg-principal: #ffe6be;
$bg-secundario: brown;
$bg-gradiente: linear-gradient(90deg, #ffe6be 0%, #f5c192 55%, #e8ba6e 100%);
$filter:invert(90%) sepia(42%) saturate(424%) hue-rotate(317deg) brightness(100%) contrast(103%);
$filter-brown:invert(17%) sepia(63%) saturate(3440%) hue-rotate(348deg) brightness(91%) contrast(81%);
$color: #ffe6be;